.back-img {
  background-image: url(/img/logo-P.svg);
  background-repeat: no-repeat;
  background-position: 98% 4%;
  background-size: 24%;
}

.ul-grid {
  display: grid;
  grid-template-columns: 1fr repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: 2%;
  row-gap: 4%;
}

.ul-grid:before {
  content: '';
  background-image: url(/img/30Yman-05-bgN.webp);
  background-position: 0 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 32%;
  height: 50%;
  top: -36%;
  left: -5%;
}

.ques-section {
  background-image: url(/img/logo-NP.svg);
  position: relative;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 8%, 8%;
}

.ques-section:hover {
  transform: scale(1.1);
  background-color: var(--purple-light);
  transition-duration: 0.5s;
}

.ques-section:hover .ques-title {
  font-size: 16px;
  top: 20%;
  transition: all 0.5s;
  line-height: 30px;
  color: white;
}

.ques-section:hover .ques-ans {
  top: 48%;
  opacity: 1;
  visibility: visible;
  font-size: 20px;
  display: block;
  font-weight: bold;
  transition: all 0.5s;
  color: white;
  line-height: 40px;
}

.ques-ans {
  opacity: 0;
  visibility: hidden;
}

/*Phone*/

.answer-hidden {
  display: none;
  transition-duration: 0.5s;
}

.arrow {
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

.phone-list {
  background-image: url(/img/logo-MP.svg);
  background-repeat: no-repeat;
  background-position: 10% 20%;
  background-size: 50%;
}
