.title01 {
  position: absolute;
  top: 30%;
  left: 100px;
}

.title02 {
  position: absolute;
  top: 30%;
  right: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: left;
}

.title03 {
  position: absolute;
  top: 30%;
  right: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: left;
}

.title02 h1,
.title02 p,
.title03 h1,
.title03 p {
  text-align: right;
}

button:active {
  animation: bounce 0.3s;
}

button:hover {
  box-shadow: none;
}

.page01::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: -20%;
  width: 80%;
  height: 80%;
  background-image: url('/img/personal-01-bgN.webp');
  background-repeat: no-repeat;
  background-size: contain;
  animation: KV01 2s ease infinite;
}

.page02::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 75%;
  background-image: url('/img/30Ywoman-04-bgN.webp');
  background-repeat: no-repeat;
  background-size: cover;
  animation: KV02 2s ease infinite;
}

.page03::before {
  content: '';
  position: absolute;
  bottom: -4%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/happypeople-bgN.webp');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 90%;
  animation: KV03 2s ease infinite;
}

.triangle01 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 30px 400px;
  border-color: transparent transparent transparent var(--ourly-theme);
  position: absolute;
  right: 30%;
  top: 30%;
  transform: rotate(30deg);
}

.triangle02 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 30px 200px;
  border-color: transparent transparent transparent var(--ourly-theme);
  position: absolute;
  right: 30%;
  top: 60%;
  transform: rotate(-30deg);
}

.triangle03 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 400px 30px 0;
  border-color: transparent var(--ourly-theme) transparent transparent;
  position: absolute;
  left: 35%;
  top: 30%;
  transform: rotate(-30deg);
}

.triangle04 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 200px 30px 0;
  border-color: transparent var(--ourly-theme) transparent transparent;
  position: absolute;
  left: 35%;
  top: 60%;
  transform: rotate(30deg);
}

.triangle05 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 400px 30px 0;
  border-color: transparent var(--ourly-theme) transparent transparent;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: rotate(-30deg);
}

.triangle06 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 200px 30px 0;
  border-color: transparent var(--ourly-theme) transparent transparent;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: rotate(30deg);
}

.slide-hint {
  animation: arrow 1s ease infinite;
}

@keyframes arrow {
  0% {
    bottom: 70px;
  }
  50% {
    bottom: 80px;
  }
  60% {
    bottom: 70px;
  }
  70% {
    bottom: 60px;
  }
  80% {
    bottom: 50px;
  }
  100% {
    bottom: 70px;
  }
}

@keyframes KV01 {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(16px);
  }
  40% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes KV02 {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(16px);
  }
  40% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes KV03 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 1600px) {
  .triangle01 {
    right: 32%;
    top: 20%;
  }

  .triangle02 {
    right: 32%;
    top: 60%;
  }

  .triangle03 {
    left: 35%;
    top: 30%;
  }

  .triangle04 {
    left: 35%;
    top: 60%;
  }

  .triangle05 {
    left: 45%;
    top: 30%;
  }

  .triangle06 {
    left: 45%;
    top: 60%;
  }
}
@media screen and (max-width: 1440px) {
  .page01::before {
    background-position: 20% 100%;
    background-size: 100%;
    bottom: 0;
    right: -8%;
    width: 70%;
    height: 100%;
  }
  .page02::before {
    background-position: 0 100%;
    background-size: 90%;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 100%;
  }
  .page03::before {
    background-position: 0 100%;
    background-size: 100%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .title01 {
    left: 4%;
  }
  .title02,
  .title03 {
    right: 4%;
  }

  .triangle05 {
    left: 45%;
    top: 40%;
  }

  .triangle06 {
    left: 45%;
    top: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .triangle01,
  .triangle02,
  .triangle03,
  .triangle04,
  .triangle05,
  .triangle06 {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .triangle01,
  .triangle02,
  .triangle03,
  .triangle04,
  .triangle05,
  .triangle06 {
    display: none;
  }

  .title01,
  .title02,
  .title03 {
    top: 24%;
  }

  .page01::before {
    width: 100%;
    height: 80%;
  }
  .page02::before {
    width: 100%;
    height: 80%;
  }
  .page03::before {
    width: 100%;
    height: 100%;
    background-image: url('/img/happypeople-bgN.webp');
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 120%;
    animation: KV03 2s ease infinite;
  }
}

@media screen and (max-width: 768px) {
  .triangle01,
  .triangle02,
  .triangle03,
  .triangle04,
  .triangle05,
  .triangle06 {
    display: none;
  }
  .page01::before {
    background-position: 20% 100%;
    background-size: 100%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: none;
  }
  .page02::before {
    background-position: 0 100%;
    background-size: 90%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: none;
  }
  .page03::before {
    background-position: 0 100%;
    background-size: 100%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: none;
  }
  .title01 {
    position: absolute;
    top: 20%;
    left: 4%;
  }
  .title01 h1 {
    padding-right: 0;
  }
  .title02 {
    position: absolute;
    top: 20%;
    right: 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: left;
  }
  .title03 {
    position: absolute;
    top: 20%;
    right: 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: left;
  }
}
@media screen and (max-width: 500px) {
  .page01::before {
    background-position: 20% 100%;
    background-size: 150%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: none;
  }
  .page02::before {
    background-position: 100% 100%;
    background-size: 120%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 56%;
    animation: none;
  }
  .page03::before {
    background-position: 0 100%;
    background-size: 150%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 60%;
    animation: none;
  }
  .triangle01,
  .triangle02,
  .triangle03,
  .triangle04,
  .triangle05,
  .triangle06 {
    display: none;
  }
  .title01 {
    position: absolute;
    top: 14%;
    left: 2%;
  }
  /* .title01 h1 {
    padding-right: 14%;
  } */
  .title02 {
    position: absolute;
    top: 14%;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: left;
  }
  /* .title02 h1 {
    padding-left: 20%;
  } */
  .title03 {
    position: absolute;
    top: 14%;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: left;
  }
}
@media screen and (max-width: 414px) and (min-height: 691px) {
  .page01::before {
    background-position: 20% 100%;
    background-size: 120%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: none;
  }

  .page02::before {
    background-position: 100% 100%;
    background-size: 90%;
    bottom: 0;
    left: -15%;
    width: 100%;
    height: 56%;
    animation: none;
  }
}
@media screen and (max-width: 414px) {
  .title02 h1 {
    padding-left: 22%;
  }
  .title03 {
    right: 0;
  }
}
@media screen and (max-width: 390px) {
  .page01::before {
    width: 100%;
    bottom: -10%;
  }
  .page02::before {
    width: 80%;
    /* bottom: -10%; */
  }
  .title01 p br,
  .title02 p br,
  .title03 p br {
    display: none;
  }
  .title01 p {
    padding-right: 20%;
  }
  .title02 p,
  .title03 p {
    padding-left: 20%;
  }

  .title01 {
    top: 16%;
    left: 0;
  }

  .title02,
  .title03 {
    top: 16%;
    right: 0;
  }

  .title02 h1 {
    padding-left: 20%;
  }
}
