.menu-line01 {
  background-color: var(--ourly-theme);
  width: 50%;
  height: 10%;
  top: 25%;
  border-radius: 20px;
  position: absolute;
  transition-duration: 0.8s;
}
.menu-line02 {
  background-color: var(--ourly-theme);
  width: 50%;
  height: 10%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px;
  position: absolute;
  transition-duration: 0.5s;
}
.menu-line03 {
  background-color: var(--ourly-theme);
  width: 50%;
  height: 10%;
  bottom: 25%;
  border-radius: 20px;
  position: absolute;
  transition-duration: 0.8s;
}

.menu-line-active01 {
  top: 50%;
  background-color: white;
  transform: translateY(-50%) rotate(45deg);
}
.menu-line-active02 {
  opacity: 0;
}
.menu-line-active03 {
  top: 50%;
  background-color: white;
  transform: translateY(-50%) rotate(-45deg);
}
