.menu-line-bg {
  width: 60px;
  height: 60px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 50;
  border-radius: 8px;
  transition: all 0.5s;
  /* animation: menuout 0.5s ease-in-out; */
}
.menu-line-bg-active {
  background-color: var(--ourly-theme);
  transition-duration: all 0.5s;
  animation: menuin 0.5s ease-in-out;
}
.menu-line-bg-unactive {
  background-color: white;
  transition-duration: all 0.5s;
  animation: menuout 0.5s ease-in-out;
}

.menu-line {
  width: 50%;
  height: 10%;
  background-color: var(--ourly-theme);
  border-radius: 50px;
  position: absolute;
}

.menu-line:nth-child(1) {
  top: 25%;
}
.menu-line:nth-child(3) {
  bottom: 25%;
}

.menu-line-active01 {
  transform: translateY(200%) rotate(45deg);
  background-color: white;
  transition: all 0.5s ease-in-out;
}
.menu-line-active02 {
  transform: scale(0.1);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.menu-line-active03 {
  transform: translateY(-200%) rotate(-45deg);
  transition: all 0.5s ease-in-out;
  background-color: white;
}

@keyframes menuin {
  from {
    background-color: white;
  }

  to {
    background-color: var(--ourly-theme);
  }
}
@keyframes menuout {
  from {
    background-color: var(--ourly-theme);
  }

  to {
    background-color: white;
  }
}
