.compare::before {
  content: '';
  background-image: url(/img/logo-Y.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  position: absolute;
  width: 30%;
  height: 50%;
  bottom: 0;
  left: 0;
}

.compare {
  background-image: url(/img/logo-DP.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 30%;
  position: absolute;
}

#section6 > img:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}

@media screen and (max-width: 1440px) {
  .compare img {
    width: 60%;
  }
}
@media screen and (max-width: 1180px) {
  .compare img {
    width: 60%;
  }
}
@media screen and (max-width: 820px) {
  .compare::before {
    background-position: 70% 70%;
    width: 50%;
  }
  .compare img {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .compare::before {
    content: '';
    background-image: url(/img/logo-Y.svg);
    background-repeat: no-repeat;
    background-position: 10% 0;
    background-size: contain;
    position: absolute;
    width: 30%;
    height: 30%;
    bottom: 0;
    left: 0;
  }
  .compare {
    background-image: url(/img/logo-DP.svg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 50%;
    position: absolute;
  }
  #section6 > img:hover {
    transform: scale(1);
  }

  .compare::before {
    content: none;
  }
}
@media screen and (max-width: 500px) {
  .compare::before {
    content: '';
    background-image: url(/img/logo-Y.svg);
    background-repeat: no-repeat;
    background-position: 10% 0;
    background-size: contain;
    position: absolute;
    width: 30%;
    height: 30%;
    bottom: 0;
    left: 0;
  }
  .compare {
    background-image: url(/img/logo-DP.svg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 50%;
    position: absolute;
  }
  #section6 > img:hover {
    transform: scale(1);
  }

  .compare::before {
    content: none;
  }
  .compare img {
    width: 80%;
  }
}
@media screen and (max-width: 390px) {
  #section6 > img:hover {
    transform: scale(1);
  }

  .compare::before {
    content: none;
  }
}
