/* @font-face {
  font-family: 'Noto Sans JP';
  src: url(/public/font/NotoSansJP-VariableFont_wght.eot),
    url(/public/font/NotoSansJP-VariableFont_wght.ttf),
    url(/public/font/NotoSansJP-VariableFont_wght.woff);
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --ourly-theme: #ff4448;
  --base-color: #f0f0ff;
  --purple-dark: #3f4066;
  --purple-light: #5a5b90;
}

body {
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
