.annoyingman01 {
  background-image: url(/img/question.svg);
  background-repeat: no-repeat;
  overflow: hidden;
}
.annoyingman01 img {
  width: 26%;
  height: auto;
  position: absolute;
  bottom: 0px;
  right: 4%;
  animation: shake 2s infinite;
}

.solvedman01 {
  background-image: url(/img/communication.webp);
  background-repeat: no-repeat;
  background-size: 32%;
  background-position: 80% 90%;
}
.solvedman01::after {
  content: '';
  background-image: url(/img/logo-Y.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  width: 70%;
  height: 60%;
  top: 40%;
  left: 24%;
  z-index: 0;
}
.solvedman01 img {
  z-index: 1;
  width: 28%;
  height: auto;
  position: absolute;
  bottom: 0px;
  left: 8%;
  background-image: url(/img/surprise.webp);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 30%;
}

.annoyingman02 {
  background-image: url(/img/question.svg);
  background-repeat: no-repeat;
  overflow: hidden;
}
.annoyingman02 img {
  width: 35%;
  height: auto;
  position: absolute;
  bottom: 0px;
  right: 0;
  animation: shake 2s infinite;
}

.solvedman02 {
  background-image: url(/img/report.webp);
  background-repeat: no-repeat;
  background-size: 36%;
  background-position: 90% 100%;
}
.solvedman02 img {
  width: 32%;
  height: auto;
  position: absolute;
  bottom: 0px;
  left: 8%;
}

.solvedman02::after {
  content: '';
  position: absolute;
  bottom: 16%;
  left: 48%;
  width: 30%;
  height: 30%;
  background-image: url(/img/illu-04.webp);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 60%;
}

.solvedman02::before {
  content: '';
  position: absolute;
  top: 0;
  left: 4%;
  width: 50%;
  height: 50%;
  transform: rotate(-20deg);
  background-image: url(/img/light.gif);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 30%;
}

.annoyingwoman {
  background-image: url(/img/question.svg);
  background-repeat: no-repeat;
  overflow: hidden;
}
.annoyingwoman img {
  width: 48%;
  height: auto;
  position: absolute;
  bottom: 0px;
  right: 0;
  animation: shake 2s infinite;
}

.solvedwoman {
  background-image: url(/img/usability-03.gif);
  background-repeat: no-repeat;
  background-size: 38%;
  background-position: 90% 90%;
}
.solvedwoman img {
  width: 45%;
  height: auto;
  position: absolute;
  bottom: 0px;
  left: 0;
  transform: rotateY(180deg);
}

.solvedwoman::after {
  content: '';
  position: absolute;
  background-image: url(/img/KViphone.webp);
  top: 55%;
  right: 43%;
  background-size: 80%;
  width: 10%;
  height: 50%;
  background-repeat: no-repeat;
}

.solvedwoman::before {
  content: '';
  background-image: url(/img/heart.gif);
  background-repeat: no-repeat;
  position: absolute;
  top: 10%;
  left: 0;
  width: 20%;
  height: 50%;
}

.annoyingman01::before {
  content: '';
  background-image: url(/img/question-on-people.webp);
  background-size: 80%;
  position: absolute;
  width: 30%;
  height: 30%;
  top: 0;
  right: 2%;
  background-repeat: no-repeat;
  z-index: 2;
  animation: question 2s infinite;
  z-index: -1;
}

.annoyingman02::before {
  content: '';
  background-image: url(/img/question-on-people.webp);
  background-size: 80%;
  position: absolute;
  width: 24%;
  height: 24%;
  top: 0;
  right: 8%;
  background-repeat: no-repeat;
  z-index: 2;
  transform: rotate(45deg);
  animation: question 2s infinite;
  z-index: -1;
}

.annoyingwoman::before {
  content: '';
  background-image: url(/img/question-on-people.webp);
  top: 8%;
  right: 4%;
  width: 30%;
  height: 100%;
  position: absolute;
  background-size: 80%;
  background-repeat: no-repeat;
  animation: question 2s infinite;
  z-index: -1;
}

.bubble-triangle {
  clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
  transform: rotate(130deg);
}

@keyframes question {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 1440px) {
  .solvedwoman img {
    width: 45%;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 8%;
    transform: rotateY(180deg);
  }

  .solvedwoman {
    background-image: url(/img/usability-03.gif);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 90% 80%;
  }

  .solvedwoman::after {
    content: '';
    position: absolute;
    background-image: url(/img/KViphone.webp);
    top: 50%;
    right: 50%;
    background-size: 100%;
    width: 10%;
    height: 50%;
    background-repeat: no-repeat;
  }

  .annoyingman01::before {
    content: '';
    background-image: url(/img/question-on-people.webp);
    background-size: contain;
    position: absolute;
    width: 30%;
    height: 30%;
    top: 20%;
    right: 5%;
    background-repeat: no-repeat;
    z-index: 2;
    animation: question 2s infinite;
    z-index: -1;
  }

  .annoyingman02::before {
    content: '';
    background-image: url(/img/question-on-people.webp);
    background-size: contain;
    position: absolute;
    width: 40%;
    height: 40%;
    top: 10%;
    right: 0;
    background-repeat: no-repeat;
    z-index: 2;
    animation: question 2s infinite;
    z-index: -1;
  }

  .annoyingwoman::before {
    content: '';
    background-image: url(/img/question-on-people.webp);
    background-size: contain;
    position: absolute;
    width: 30%;
    height: 30%;
    top: 20%;
    right: 0;
    background-repeat: no-repeat;
    z-index: 2;
    animation: question 2s infinite;
    z-index: -1;
  }

  .solvedman02::before {
    width: 40%;
    height: 20%;
    top: 40%;
  }
  .solvedman02 {
    background-size: 45%;
  }
  .solvedman02::after {
    width: 24%;
    height: 24%;
    background-size: contain;
    top: 60%;
    left: 32%;
  }

  .solvedman01::after {
    content: '';
    background-image: url(/img/logo-Y.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    width: 20%;
    height: 60%;
    top: 60%;
    left: 24%;
    z-index: 0;
  }
  .solvedman01 {
    background-size: 44%;
  }
  .solvedman01 img {
    width: 30%;
  }
}
@media screen and (max-width: 850px) {
  .annoyingman01::before {
    top: 56%;
    left: 0;
    width: 60%;
  }

  .annoyingman01 h2 {
    padding-left: 20%;
    padding-right: 20%;
  }

  .annoyingman01 img {
    width: 48%;
  }

  .solvedman01 img {
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
  }
  .solvedman01 {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url(/img/communication.webp);
    background-size: 90%;
    background-position: 50% 70%;
  }

  .annoyingman02 img {
    width: 60%;
  }
  .annoyingman02::before {
    top: 56%;
    left: 0;
    width: 60%;
  }
  .solvedman02 img {
    width: 80%;
    left: 0;
  }
  .solvedman02::before {
    top: 45%;
    left: 10%;
    background-size: 100%;
    width: 20%;
    height: 20%;
  }
  .solvedman02::after {
    width: 40%;
    height: 16%;
    background-size: 100%;
    top: 60%;
    left: 56%;
  }
  .solvedman02 {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      url(/img/report.webp);
    background-size: 90%;
    background-position: 50% 80%;
  }

  .annoyingwoman img {
    width: 100%;
  }
  .annoyingwoman::before {
    top: 56%;
    left: 0;
    width: 50%;
  }

  .solvedwoman img {
    width: 100%;
    left: 0;
  }
  .solvedwoman {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url(/img/usability-03.gif);
    background-size: 90%;
    background-position: 50% 70%;
  }
  .solvedwoman::after {
    width: 20%;
    height: 30%;
    top: 40%;
    right: 16%;
  }
  .solvedwoman::before {
    width: 40%;
    height: 30%;
    top: 40%;
    background-size: 100%;
  }
}
@media screen and (max-width: 768px) {
  .annoyingman01 {
    background-repeat: repeat;
    background-position: 0 100%;
  }
  .annoyingman01 img {
    width: 40%;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    animation: none;
  }
  .solvedman01 {
    background-size: 90%;
    background-position: 100% 70%;
  }
  .solvedman01 img {
    width: 60%;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 0;
    background-image: url(/img/surprise.webp);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 30%;
  }
  .annoyingman02 {
    background-repeat: repeat;
    background-position: 0 100%;
  }
  .annoyingman02 img {
    width: 56%;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    animation: none;
  }
  .solvedman02 {
    background-size: 70%;
    background-position: 80% 72%;
  }
  .solvedman02 img {
    width: 80%;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 2;
  }
  .solvedman02::after {
    content: '';
    position: absolute;
    bottom: -10%;
    left: 60%;
    width: 40%;
    height: 40%;
    background-image: url(/img/illu-04.webp);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
  }
  .solvedman02::before {
    content: none;
  }
  .annoyingwoman img {
    width: 80%;
    height: auto;
    animation: none;
  }
  .solvedwoman {
    background-image: url(/img/usability-03.gif);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 50% 64%;
  }
  .solvedwoman img {
    width: 72%;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 0;
    transform: rotateY(180deg);
  }
  .solvedwoman::after {
    content: '';
    position: absolute;
    background-image: url(/img/KViphone.webp);
    top: 60%;
    left: 72%;
    background-size: 100%;
    width: 16%;
    height: 32%;
    background-repeat: no-repeat;
  }
  .solvedwoman::before {
    content: none;
  }
  .annoyingman01::before {
    content: none;
    animation: question 2s infinite;
  }
  .annoyingman02::before {
    content: none;
  }
  .annoyingwoman::before {
    content: none;
  }
}
@media screen and (max-width: 500px) {
  .annoyingman01 {
    background-repeat: repeat;
    background-position: 0 100%;
  }
  .annoyingman01 img {
    width: 50%;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    animation: none;
  }
  .solvedman01 {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url(/img/communication.webp);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 50% 64%;
  }
  .solvedman01 img {
    width: 70%;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(/img/surprise.webp);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 30%;
  }
  .annoyingman02 {
    background-repeat: repeat;
    background-position: 0 100%;
  }
  .annoyingman02 img {
    width: 60%;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    animation: none;
  }
  .solvedman02 {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url(/img/report.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 80% 80%;
  }
  .solvedman02 img {
    width: 75%;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 2;
  }
  .solvedman02::after {
    content: '';
    position: absolute;
    top: 4%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/illu-04.webp);
    background-repeat: no-repeat;
    background-position: 88% 72%;
    background-size: 50%;
  }
  .solvedman02::before {
    content: none;
  }
  .annoyingwoman img {
    width: 90%;
    height: auto;
    animation: none;
  }
  .solvedwoman {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url(/img/usability-03.gif);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50% 64%;
  }
  .solvedwoman img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 0;
    transform: rotateY(180deg);
  }
  .solvedwoman::after {
    content: '';
    position: absolute;
    background-image: url(/img/KViphone.webp);
    top: 60%;
    left: 65%;
    background-size: 100%;
    width: 24%;
    height: 30%;
    background-repeat: no-repeat;
  }
  .solvedwoman::before {
    content: none;
  }
  .annoyingman01::before {
    content: none;
    animation: question 2s infinite;
  }
  .annoyingman02::before {
    content: none;
  }
  .annoyingwoman::before {
    content: none;
  }
}
@media screen and (max-width: 430px) {
  .annoyingman01 h2,
  .annoyingman02 h2,
  .annoyingwoman h2 {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media screen and (max-width: 420px) and (max-device-height: 736px) and (-webkit-min-device-pixel-ratio: 2) {
  .annoyingman01 img {
    width: 28%;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    animation: none;
  }
  .solvedman01 img {
    width: 50%;
  }

  .annoyingman02 img {
    width: 35%;
  }

  .solvedman02 img {
    width: 35%;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 10%;
    z-index: 2;
  }

  .solvedman02::after {
    height: 20%;
    /* background-position: 100% 100%; */
    top: 72%;
  }

  .annoyingwoman img {
    width: 60%;
    right: 10%;
  }
  .solvedwoman img {
    width: 80%;
  }
  .solvedwoman::after {
    width: 20%;
    top: 64%;
  }
}
@media screen and (max-device-height: 896px) and (-webkit-min-device-pixel-ratio: 3) {
  .annoyingman01 img {
    width: 46%;
  }

  .annoyingman02 h2 {
    padding-left: 14%;
    padding-right: 14%;
  }
  .solvedman02 img {
    width: 70%;
  }
}
@media screen and (max-width: 390px) {
  .annoyingman01 {
    background-repeat: repeat;
    background-position: 0 100%;
  }
  .annoyingman01 img {
    width: 40%;
  }
  .annoyingman01 h2,
  .annoyingman02 h2,
  .annoyingwoman h2 {
    padding-left: 4%;
    padding-right: 4%;
  }
  .solvedman01 {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url(/img/communication.webp);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 50% 64%;
  }
  .solvedman01 img {
    width: 60%;
  }
  .solvedman01 h2 {
    padding-right: 4%;
    padding-left: 4%;
  }
  .annoyingman02 {
    background-repeat: repeat;
    background-position: 0 100%;
  }
  .annoyingman02 img {
    width: 50%;
  }
  .solvedman02 {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url(/img/report.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 80% 80%;
  }
  .solvedman02 img {
    width: 50%;
  }
  .solvedman02 h2 {
    padding-right: 4%;
    padding-left: 4%;
  }
  .solvedman02::after {
    content: '';
    position: absolute;
    top: 80%;
    left: 48%;
    width: 50%;
    height: 10%;
    background-image: url(/img/illu-04.webp);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
  }
  .solvedman02::before {
    content: none;
  }
  .annoyingwoman img {
    width: 80%;
  }
  .solvedwoman {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url(/img/usability-03.gif);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50% 80%;
  }

  .solvedwoman h2 {
    padding-left: 8%;
    padding-right: 8%;
  }

  .solvedwoman img {
    width: 80%;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 0;
    transform: rotateY(180deg);
  }
  .solvedwoman::after {
    content: '';
    position: absolute;
    background-image: url(/img/KViphone.webp);
    top: 64%;
    left: 65%;
    background-size: 100%;
    width: 24%;
    height: 30%;
    background-repeat: no-repeat;
  }
  .solvedwoman::before {
    content: none;
  }
  .annoyingman01::before {
    content: none;
    animation: question 2s infinite;
  }
  .annoyingman02::before {
    content: none;
  }
  .annoyingwoman::before {
    content: none;
  }
}
