/* .content-div:hover {
  transform: scale(1.1) !important;
  box-shadow: #5a5b90 0px 0px 16px;
  transition-duration: 0.5s;
  z-index: 2;
}

.content-div:hover .pic-grid {
  transform: scale(1.15) !important;
  transition-duration: 0.5s;
  z-index: 2;
} */

.title {
  display: grid;
  grid-template-columns: 0.3fr 2fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  width: 100%;
  grid-template-areas:
    'num title pic'
    'txt txt pic';
}
.title .num-grid {
  width: 100%;
  margin: 0 auto;
  grid-area: num;
}
.title .pic-grid {
  grid-area: pic;
  transition-duration: 0.5s;
}
.title .title-grid {
  grid-area: title;
  margin: 0 auto;
}
.title .text-grid {
  grid-area: txt;
  padding: 0;
}

.detail-content img {
  width: 480px;
  height: auto;
  gap: 10%;
  margin: 0 auto;
}

.sub-container::before {
  content: '';
  background-image: url(/img/logo-P.svg);
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 0;
}

.sub-container::after {
  content: '';
  background-image: url(/img/logo-DP.svg);
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 15%;
  left: 0;
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 0;
}

.subend01 {
  background-color: var(--purple-light);
  justify-content: right;
  background-image: url(/img/logo-LP.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subend01 img {
  position: absolute;
  left: 12%;
  bottom: 0;
  width: 35%;
}
.subend01 p {
  text-align: right;
  color: #fff;
  padding-right: 8%;
}

.subend02 {
  background-color: var(--base-color);
  justify-content: left;
  background-image: url(/img/logo-P.svg);
  background-repeat: no-repeat;
  background-position: 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subend02 img {
  position: absolute;
  right: 2%;
  bottom: 0;
  width: 35%;
}
.subend02 p {
  padding-left: 8%;
}

.subend03 {
  background-color: var(--purple-dark);
  justify-content: right;
  background-image: url(/img/logo-LP.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subend03 img {
  position: absolute;
  left: 8%;
  bottom: 0%;
  width: 24%;
}
.subend03 p {
  color: #fff;
  text-align: right;
  padding-right: 8%;
}

@media screen and (max-width: 1920px) {
  .title {
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
    width: 100%;
    grid-template-areas:
      'num title pic'
      'txt txt pic';
  }

  .title .title-grid {
    padding: 0;
    justify-content: start;
  }
  .title .text-grid {
    padding-top: 24px;
    grid-area: txt;
    display: grid;
    place-items: center;
  }

  .title .num-grid img {
    width: 100%;
  }
}
@media screen and (max-width: 1440px) {
  .title {
    display: grid;
    grid-template-columns: 0.3fr 0.8fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
    width: 100%;
    grid-template-areas:
      'num title pic'
      'txt txt pic';
  }

  .title .title-grid {
    padding-right: 30px;
  }
  .title .text-grid {
    padding-top: 24px;
    grid-area: txt;
  }
  .title .num-grid img {
    width: 80%;
  }

  .subend03 p {
    padding-right: 2%;
  }
  .subend03 img {
    left: 0;
    width: 30%;
  }
  .subend02 p {
    padding-left: 2%;
  }
  .subend02 img {
    right: 0;
    width: 40%;
  }
  .subend01 p {
    padding-right: 4%;
  }
  .subend01 img {
    left: 4%;
    width: 44%;
  }
}
@media screen and (max-width: 850px) {
  .title {
    display: grid;
    grid-template-columns: 0.8fr 2fr;
    grid-template-rows: 0.5fr 1fr 0.8fr;
    width: 100%;
    gap: 24px;
    grid-template-areas:
      'num title'
      'pic pic'
      'txt txt';
  }

  .title .title-grid br {
    display: block;
  }

  .subend01 img {
    width: 34%;
  }
  .subend01 p {
    padding: 0;
    font-size: 22px;
    position: relative;
    right: -10%;
  }

  .subend02 img {
    width: 38%;
  }
  .subend02 p {
    width: 70%;
    padding: 0;
    font-size: 22px;
    position: relative;
    left: -10%;
  }

  .subend03 img {
    width: 24%;
    left: 8%;
  }
  .subend03 p {
    font-size: 22px;
    width: 70%;
    padding: 0;
    position: relative;
    right: -10%;
  }
}
@media screen and (max-width: 768px) {
  .title {
    display: grid;
    grid-template-columns: 0.8fr 2fr;
    grid-template-rows: 0.5fr 1fr 0.8fr;
    width: 100%;
    gap: 24px;
    grid-template-areas:
      'num title'
      'pic pic'
      'txt txt';
  }
  .title .num-grid {
    grid-area: num;
  }
  .title .num-grid img {
    width: 80%;
  }
  .title .pic-grid {
    grid-area: pic;
  }
  .title .title-grid {
    grid-area: title;
  }
  .title .text-grid {
    padding-top: 36px;
    grid-area: txt;
  }
  .content-div:hover .pic-grid {
    transform: scale(1) !important;
  }
  .content-div:hover {
    transform: scale(1) !important;
  }
  .subend01 {
    justify-content: end;
  }
  .subend01 img {
    position: absolute;
    left: 8%;
    bottom: 0;
    width: 40%;
  }
  .subend01 p {
    color: #fff;
    padding-right: 8%;
  }
  .subend02 {
    justify-content: start;
  }
  .subend02 img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40%;
  }
  .subend02 p {
    padding-left: 4%;
  }
  .subend03 {
    background-color: var(--purple-dark);
    justify-content: right;
    background-image: url(/img/logo-LP.svg);
    background-repeat: no-repeat;
    background-position: 100% 0;
  }
  .subend03 img {
    position: absolute;
    left: 4%;
    bottom: 0%;
    width: 28%;
  }
  .subend03 p {
    color: #fff;
    padding-right: 4%;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .title {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0;
  }
  .title .num-grid {
    display: none;
  }
  .title .text-grid {
    padding-top: 16%;
  }
  .title .title-grid {
    padding: 0;
  }

  .content-div:hover .pic-grid {
    transform: scale(1) !important;
  }
  .content-div:hover {
    transform: scale(1) !important;
  }
  .subend01 {
    justify-content: end;
  }
  .subend01 img {
    position: absolute;
    left: 4%;
    bottom: 0;
    width: 50%;
  }
  .subend01 p {
    color: #fff;
    padding-left: 6%;
    width: 70%;
  }
  .subend02 {
    justify-content: start;
  }
  .subend02 p {
    padding-left: 8%;
    width: 50%;
  }
  .subend02 img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 54%;
  }
  .subend03 img {
    position: absolute;
    left: 4%;
    bottom: 0%;
    width: 35%;
  }
  .subend03 p {
    color: #fff;
    padding-right: 2%;
    width: 70%;
  }
}
@media screen and (max-width: 430px) {
  .title {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .title .num-grid {
    display: none;
  }
  .title .text-grid {
    padding-top: 16%;
  }
  .title .title-grid {
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .subend01 {
    justify-content: end;
  }
  .subend01 img {
    position: absolute;
    left: 4%;
    bottom: 0;
    width: 50%;
  }
  .subend01 p {
    font-size: 18px;
    color: #fff;
    right: 0;
    width: 62%;
  }
  .subend02 {
    justify-content: start;
  }
  .subend02 p {
    left: 0;
    font-size: 18px;
    width: 50%;
  }
  .subend02 img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 54%;
  }
  .subend03 img {
    position: absolute;
    left: 4%;
    bottom: 0%;
    width: 35%;
  }
  .subend03 p {
    color: #fff;
    font-size: 18px;
    right: 0;
    width: 70%;
  }
}
@media screen and (max-width: 414px) {
  h2 {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}
@media screen and (max-width: 390px) {
  .title {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .title .num-grid {
    display: none;
  }
  .title .text-grid {
    padding-top: 16%;
  }
  .title .title-grid {
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .title h3 {
    padding-left: 0;
    padding-right: 0;
  }

  .subend01 {
    justify-content: end;
  }
  .subend01 img {
    position: absolute;
    left: 4%;
    bottom: 0;
    width: 50%;
  }
  .subend01 p {
    font-size: 18px;
    color: #fff;
    right: 0;
    width: 62%;
  }
  .subend02 {
    justify-content: start;
  }
  .subend02 p {
    left: 0;
    font-size: 18px;
    width: 50%;
  }
  .subend02 img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 54%;
  }
  .subend03 img {
    position: absolute;
    left: 4%;
    bottom: 0%;
    width: 35%;
  }
  .subend03 p {
    color: #fff;
    font-size: 18px;
    right: 0;
    width: 70%;
  }
}
