@tailwind base;
@tailwind components;
@tailwind utilities;

.function > img {
  width: 32%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.move01 {
  animation: move01 0.8s infinite;
}
.move02 {
  animation: move02 0.8s infinite;
}
.function::after {
  content: '';
  background-image: url(/img/logo-P.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  position: absolute;
  bottom: 2%;
  left: 2%;
  width: 30%;
  height: 60%;

  z-index: 0;
}
.function::before {
  content: '';
  background-image: url(/img/logo-B.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  position: absolute;
  top: 2%;
  right: 2%;
  width: 30%;
  height: 60%;

  z-index: 0;
}

//

.hexagon01:hover,
.hexagon02:hover,
.hexagon03:hover,
.hexagon05:hover,
.hexagon06:hover,
.hexagon07:hover {
  z-index: 5;
  transition-duration: 0.5s;
}

.hexagon01:hover img,
.hexagon02:hover img,
.hexagon05:hover img,
.hexagon06:hover img,
.hexagon07:hover img {
  transform: scale(2);
  transition-duration: 0.5s;
}
.hexagon03:hover img {
  transform: scale(2.5);
  transition-duration: 0.5s;
}

.hexagon01:hover h4,
.hexagon02:hover h4,
.hexagon03:hover h4,
.hexagon05:hover h4,
.hexagon06:hover h4 {
  transition-duration: 0.5s;
  top: 0;
}
.hexagon07:hover h4 {
  transition-duration: 0.5s;
  top: -10%;
}
.hexagon03:hover h4 {
  transition-duration: 0.5s;
  top: -30%;
}

.hexagon01:hover ul,
.hexagon02:hover ul,
.hexagon05:hover ul,
.hexagon06:hover ul,
.hexagon07:hover ul {
  opacity: 1;
  top: 30%;
  display: block;

  transition-duration: 0.5s;
}
.hexagon03:hover ul {
  opacity: 1;
  top: -20%;
  display: block;

  transition-duration: 0.5s;
}
.hexagon07:hover ul {
  opacity: 1;
  top: 20%;
  display: block;

  transition-duration: 0.5s;
}

.hexagon04::before {
  content: '';
  background-image: url(/img/ourly_logo.webp);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 50%, 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes move01 {
  0%,
  50% {
    visibility: visible;
    opacity: 1;
  }
  51%,
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes move02 {
  0%,
  50% {
    visibility: hidden;
    opacity: 0;
  }
  51%,
  100% {
    visibility: visible;
    opacity: 1;
  }
}
