.purplesection {
  background-image: url(/img/logo-LP.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 70%;
}

.purplesection::after {
  content: '';
  background-image: url(/img/personal-06-bgN.webp);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 180%;
}

.pinksection {
  height: fit-content;
  top: -100%;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .purplesection::after {
    content: none;
  }
  .link a {
    padding: 2% 4%;
  }
}

@media screen and (max-width: 768px) {
  .purplesection::after {
    content: none;
  }
  .purplesection {
    background-image: url(/img/logo-LP.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 100% 40%;

    display: flex;
    flex-direction: column;
  }

  .purplesection ul {
    width: 100%;
  }
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .link a {
    padding: 3%;
  }
}
@media screen and (max-width: 500px) {
  .purplesection::after {
    content: none;
  }

  .purplesection {
    background-image: url(/img/logo-LP.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 100% 40%;

    display: flex;
    flex-direction: column;
  }

  .purplesection ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .link {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    width: 80%;
    height: 120px;
  }
  .link a {
    border: none;
    font-size: 14px;
    padding-left: 0;
  }

  .innerlink {
    width: 50%;
  }
  .outerlink {
    width: 50%;
  }
}
